@font-face {
  font-family: "Dotworld Grotesk";
  src: url("fonts/font-regular.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Dotworld Grotesk";
  src: url("fonts/font-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Dotworld Grotesk";
  src: url("fonts/font-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
